- name: Install NGINX
  hosts: nginx-server
  become: true
  tasks:
    - name: Update apt package cache
      apt:
        update_cache: yes

    - name: Install NGINX
      apt:
        name: nginx
        state: present

    - name: Enable NGINX service
      systemd:
        name: nginx
        enabled: yes
